@media screen and (min-width: 760px) and (max-width: 1279px) {
	*{
		text-decoration: none;
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}

	body{
		font-family: 'Playfair Display', serif; 
		font-family: 'Inter', sans-serif;
		font-family: 'Mulish', sans-serif;
		margin: 0px;
	}

	div.container{
		width: 726px;
		margin: 0 auto;
		padding-top: 40px;
		display: flex;
		flex-direction: column;
	}

	.imgg{
		width: 604px;
		height: 223px;
	}

	.img{
		width: 400px;
		height: 237px;
	}

	.shkmimg-logo{
		width: 49.906px;
		height: 45.238px;
		flex-shrink: 0;
	}

	header.header{
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		height: 323px;
	}

	div.top{
		height: 82px;
		margin-bottom: 48px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	input,label{
		display: none;
	}

	a.a{
		color: #202336;
		text-align: center;
		font-family: Inter;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		padding-bottom: 2px;
		border-bottom: 1px solid #F6A410;
		line-height: normal;
	}

	.bbv{
		text-decoration: none;
		color: #ABAEB5;
		font-family: Inter;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	.bbv:hover{
		color: #202336;
		text-align: center;
		font-family: Inter;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}


	ul.unig{
		display: flex;
		width: 616px;
		justify-content: space-evenly;
		color: #ABAEB5;
		font-family: Inter;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	section.section{
		height: 451px;
		display: flex;
		
	}

	div.encompassing-text{
		width: 355px;
		height: 205px;
		display: flex;
		flex-direction: column;
	
	}

	h1.encompassing-text_title{
		font-family: Playfair Display;
		font-size: 40px;
		font-weight: 700;
		line-height: 80px;
		letter-spacing: 0em;
		text-align: left;

	}
	
	p.text{
		margin-bottom: 10px;
		margin-top: 0px;
		font-family: Inter;
		font-size: 20px;
		font-weight: 600;
		line-height: 35px;
		letter-spacing: 0em;
		text-align: left;

	}

	button{
		width: 159.699px;
		height: 45px;
		border-radius: 8px;
		background: #F6A410;
		border: 0px;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		color: white;
		flex-shrink: 0;
		color: #FFF;
		text-align: center;
		font-family: "Playfair Display";
		font-size: 26px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}

	main.main{
		display: flex;
		flex-direction: column;
		margin-bottom: 24px;	
	}

	section.section-two{
		height: 547px;
		display: flex;
		margin-bottom: 10px;
		flex-direction: column-reverse;
	}

	b.bb{
		font-family: Playfair Display;
		font-size: 34px;
		font-weight: 700;
		line-height: 50px;
		letter-spacing: 0em;
		text-align: left;

	}

	p.section-two_container_text,p.secret{
		font-family: Inter;
		font-size: 16px;
		font-weight: 500;
		line-height: 25px;
		letter-spacing: 0em;
		text-align: left;

		
	}

	picture.pctr{
		margin-top: 0px;
		display: flex;
		justify-content: center;
	}

	section.section-three{
		width: 726px;
		height: 1255px;
		display: flex;
		flex-direction: column;
	}

	h3.section-three_title{
		font-family: Playfair Display;
		font-size: 34px;
		font-weight: 700;
		line-height: 50px;
		letter-spacing: 0em;
		text-align: left;
		margin-bottom: 40px;
	}

	div.section-three_container{
		height: 1146px;
		display: flex;
		border-left: 2px solid rgba(0, 0, 0, 0.58);
		flex-direction: column;
		align-self: center;
		padding-left: 30px;
		box-sizing: border-box;
	}

	.star{
		margin-bottom: 50px;
	}

	div.special-block{
		display: flex;
		margin-bottom: 0px;
		flex-direction: column;
		align-items: center;
	}

	img.imggg{
		width: 409px;
		height: 358px;
	}

	div.section-three_container_encompassing:first-child{
		height: 169px;
	}

	div.section-three_container_encompassing-starr{
		height: 259px;

	}

	p.section-three_container_encompassing-text-starr{
		color: #333;
		font-family: Inter;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 30px;
		margin-top: 20px;
	}

	.bgshka{
		margin-bottom: 20px;
	}

	div.section-three_container_encompassing:last-child{
		margin-top: 0px;
		height: 197px;
	}

	h1.section-three_container_encompassing-title > b{
		font-family: Inter;
		font-size: 22px;
		font-weight: 700;
		line-height: 25px;
		letter-spacing: 0em;
		text-align: left;

	}

	p.section-three_container_encompassing-text{
		font-family: Inter;
		font-size: 18px;
		font-weight: 500;
		line-height: 25px;
		letter-spacing: 0em;
		text-align: left;

	}

	img.romb{
		position: absolute;
		top: 1116px;
		margin-left: -6px;
	}

	img.two{	
		top: 1388px;
	}

	img.three{
		top: 1773px;
	}

	img.four{
		top: 1962px;
	}

	footer.footer{
	background: #DAF1E982;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 17px;
	}

	div.footer_encompassing-text{
		display: flex;
		flex-direction: column;
		align-items: start;
		width: 180px;
		padding: 0px;
		margin-right: 68px;
	}

	div.footer_encompassing-text:last-child{
		margin-right: 0px;
	}

	img.footer_encompassing-text_logo{
		width: 82.258px;
		height: 79px;
		flex-shrink: 0;
	}

	div.container-footer-two{
		display: flex;
		flex-wrap: wrap;
		
		margin-bottom: 88px;
	}

	h2.footer_encompassing-text_title{
		margin: 0px;
		color: #000;
		font-family: "Playfair Display";
		font-size: 19px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; /* 126.316% */
	}

	ul{
		padding: 0px;
		margin: 0px;
		width: 100%;
	}

	a.footer-a{
		text-decoration: none;
		color: #717171;
		font-family: Mulish;
		font-size: 16px;
		font-style: normal;
		font-weight: 300;
		line-height: 25px;
	}

	div.foooter{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;
	}

	div.starfake{
		display: flex;
		width: 107.734px;
		height: 139px;
		margin-right: 58px;
	}



	div.star-alpha{
		display: flex;
		width: 171.977px;
	}

	div.star-omega{
		display: flex;
		width: 153.038px;
		height: 139px;
		margin-right: 28px;
	}

	div.star-sigma{
		display: flex;
		width: 168.774px;
		height: 139px;
	}

	div.block-border-top{
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 270.968px;
		height: 48px;
		border-top: 1px solid;
		margin-bottom: 13px;
	}
}